<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="description" content="{{ page_description }}">
    <meta name="author" content="Philippe Segatori & PHP-Spellcheck contributors">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1, , shrink-to-fit=no, user-scalable=0" name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    {#<meta content="#ffffff" name="msapplication-TileColor">#}
    {#<meta content="/ms-icon-144x144.png" name="msapplication-TileImage">#}
    <meta charset="UTF-8">
    {#<link href="/doc/assets/images/favicon/apple-touch-icon-e849d94c.png" rel="apple-touch-icon" sizes="180x180">#}
    {#<link href="/doc/assets/images/favicon/favicon-32x32-bdc092ed.png" rel="icon" sizes="32x32" type="image/png">#}
    {#<link href="/doc/assets/images/favicon/favicon-16x16-e68455aa.png" rel="icon" sizes="16x16" type="image/png">#}
    {#<link href="/doc/assets/images/favicon/site.webmanifest" rel="manifest">#}
    {#<link href="/doc/assets/images/favicon/safari-pinned-tab-c3b488f8.svg" rel="mask-icon">#}
    {#<link href="/doc/assets/images/favicon/favicon.ico" rel="shortcut icon">#}
    <meta content="#5468ff" name="msapplication-TileColor">
    {#<meta content="/doc/assets/images/favicon/browserconfig.xml" name="msapplication-config">#}
    <meta content="#ffffff" name="theme-color">
    <link href="https://tigitz.github.io/php-spellchecker/" rel="canonical">
    <meta content="summary_large_image" name="twitter:card">
    <meta content="@php-spellcheck" name="twitter:site">
    <meta name="twitter:title">
    <meta content="{{ page_description }}" name="twitter:description">
    <meta content="tigitz.github.io/php-spellchecker/theme/img/logo.png" name="twitter:image:src">
    <meta content="tigitz.github.io/php-spellchecker" name="twitter:domain">

    <meta content="https://tigitz.github.io/php-spellchecker/" property="og:url">
    <meta content="PHP-Spellcheck Documentation" property="og:site_name">
    <meta property="og:title">
    <meta content="{{ page_description }}" property="og:description">
    <meta content="tigitz.github.io/php-spellchecker/theme/img/logo.png" property="og:image">
    <meta content="300" property="og:image:width">
    <meta content="300" property="og:image:height">
    <title>{{ page_title }} - PHP-Spellcheck Documentation</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700|Roboto|Source+Code+Pro:500,600" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="{{ theme_dir }}/css/prism.css" rel="stylesheet">
    <link href="{{ theme_dir }}/css/simple-sidebar.css" rel="stylesheet">
    <link href="{{ theme_dir }}/css/lighty.css" rel="stylesheet">

    <script src="{{ theme_dir }}/js/prism.js"></script>
</head>

<body>

<div class="d-flex" id="wrapper">
    <div class="bg-light border-right" id="sidebar-wrapper">
        <div class="sidebar-heading text-center">
            <img class="sidebar-logo" src="{{ theme_dir }}/img/logo.png" alt="PHP-Spellcheck">
            <h1 class="h4 mt-3 package-name">PHP-Spellcheck<br><span></span>Docs</h1>
        </div>
        <div class="list-group list-group-flush">
            {% for item in menu %}
                {% if item.depth == 1 %}
                    <h2 class="h6 text-uppercase menu-head-item">{{ item.label }}</h2>
                {% endif %}
                {% if item.depth == 2 %}
                    {% if menu[loop.index0 - 1].depth == 1 %}
                        <ul class="py-1 list-unstyled">
                    {% endif %}
                    <li><a href="{{ base_dir }}{{ item.href }}">{{ item.label }}</a></li>
                    {% if menu[loop.index0 + 1].depth != 2 %}
                        </ul>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </div>
    </div>

    <!-- Page Content -->
    <div id="page-content-wrapper">
        <nav class="navbar navbar-expand-lg navbar-light fixed-top bg-light border-bottom">
            <div class="container m-0 px-5">
                <form class="form-inline mt-2 mt-md-0">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text">{{ feather('search') }}</div>
                        </div>
                        <input class="form-control mr-sm-2 search-input" type="text" placeholder="Search"
                               aria-label="Search">
                    </div>
                </form>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                        <li class="nav-item active">
                            <a href="{{ github_edit_url }}"
                               class="btn btn-outline-primary">{{ feather('github', {'class' : 'icon mr-1'}) }} edit on
                                GitHub</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="container ml-3 px-5">
            <div class="float-right mt-2"><a class="btn btn-outline-primary">{{ feather('github', {'class' : 'icon'}) }}
                    edit on GitHub</a></div>
            <br>
            <div class="markdown-content pt-5">
                {% markdown %}
                    {% include markdown_content %}
                {% endmarkdown %}
            </div>
        </div>
    </div>
</div>
</body>
</html>
